<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="base_lenght" value="0.68"/>
    <xacro:property name="base_width" value="0.38"/>
    <xacro:property name="base_height" value="0.115"/>
    <xacro:property name="wheel_radius" value="0.1"/>
    <xacro:property name="wheel_length" value="0.05"/>

    <link name="base_footprint"/>

    <link name="base_link">
        <visual>
            <geometry>
                <box size="${base_lenght} ${base_width} ${base_height}" />
            </geometry>
            <origin xyz="0 0 ${base_height/2.0}" rpy="0 0 0" />
            <material name="blue" />
        </visual>
        <collision>
            <geometry>
                <!-- Narrower collision box to avoid any physical contact with the wheels -->
                <box size="${base_lenght*0.9} ${base_width*0.8} ${base_height*0.8}" />
            </geometry>
            <origin xyz="0 0 ${base_height/2.0}" rpy="0 0 0" />
       </collision> 
        <xacro:box_inertia m="50.0" x="${base_lenght}" y="${base_width}" z="${base_height}"
                           o_xyz="0 0 ${base_height/2.0}" o_rpy="0 0 0" />
    </link>
    
    <xacro:include filename="mecanum_wheel.urdf.xacro"/>

    <joint name="base_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin xyz="0 0 ${wheel_radius}" rpy="0 0 0"/>
    </joint>

    <!-- Mecanum Wheels with original cylinder visual, but mecanum collision & inertia -->
    <xacro:mecanum_wheel 
        side="left_front"
        radius="${wheel_radius}" 
        width="${wheel_length}" 
        pos_x="${base_lenght / 2.5}" 
        pos_y="${(base_width+wheel_length)/2.0 + 0.01}" 
        pos_z="0" 
        mass="3.0"
    />

    <xacro:mecanum_wheel 
        side="right_front"
        radius="${wheel_radius}" 
        width="${wheel_length}" 
        pos_x="${base_lenght / 2.5}" 
        pos_y="${-(base_width+wheel_length)/2.0 - 0.01}" 
        pos_z="0" 
        mass="3.0"
    />

    <xacro:mecanum_wheel 
        side="left_back"
        radius="${wheel_radius}" 
        width="${wheel_length}" 
        pos_x="${-base_lenght / 2.5}" 
        pos_y="${(base_width+wheel_length)/2.0 + 0.01}" 
        pos_z="0" 
        mass="3.0"
    />

    <xacro:mecanum_wheel 
        side="right_back"
        radius="${wheel_radius}" 
        width="${wheel_length}" 
        pos_x="${-base_lenght / 2.5}" 
        pos_y="${-(base_width+wheel_length)/2.0 - 0.01}" 
        pos_z="0" 
        mass="3.0"
    />
      
</robot>